body{
border-style:solid;
padding:10ps;
border-radius:5px;
border-width:7px;
text-align:center;
background-color:pink;
}
#Brain{
height:400px;    
}
#Heading{
text-decoration:underline;    
}
#Heart{
height:400px;    
}
#Lungs{
height:400px;    
}
#Liver{
height:300px;    
}
#Gall_Bladder{
height:350px;    
}
#Stomach{
height:400px;    
}
#Intestine{
height:400px;    
}
#More_Organs{
font-size: xx-large;    
}
#Skeletal{
height:400px;    
}
#More_Muscles{
font-size:xx-large;    
}
#More_Bones{
font-size:xx-large;    
}
#Credits{
background-color:lightskyblue;   
border-style:solid; 
padding:10px;
}
#Aesthetical{
background-color:mediumaquamarine; 
border-style:solid;
padding:10px;   
}